<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Status</title>
    <link rel="stylesheet" href="/Public/css/Student/financial_status.css">

</head>
<body>

    <div id="main">

        <div class="container">
            <div class="title">
            <h2>STUDENT PLAYER FINANCIAL STATUS</h2>
            <hr>
            </div>
    
            <div class="financial-status">
                <div class="content">
                    <p><strong>Financial Aid Status : </strong>Recieve Funds</p>
                    <p><strong>Registration Number : </strong>24/M/90</p>
                    <p><strong>Registration Date : </strong>2024-01-01</p>
                </div>
            </div>

            <div class="financial-form">
                <h3>APPLY FOR FINANCIAL FUNDS</h3>
                <form id="financial-status-form">
                    <label for="studentName">Student Name:</label>
                    <input type="text" id="studentName" name="studentName" required>
                
                    <label for="guardianName">Guardian Name:</label>
                    <input type="text" id="guardianName" name="guardianName" required>
                
                    <label for="annualIncome">Annual Income:</label>
                    <input type="text" id="annualIncome" name="annualIncome" required>
                
                    <label for="reason">Reason for Applying:</label>
                    <textarea id="reason" name="reason" required></textarea>
                                                        
                    <label for="notes">Additional Notes:</label>
                    <textarea id="notes" name="notes"></textarea>

                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" required>

                    <label for="financialReports">Upload Financial Reports (PDF):</label>
                    <input type="file" id="financialReports" name="financialReports" accept=".pdf" required>

                    <center><button type="submit">Submit Application</button></center>
                </form>
            </div>
        </div>
    
    </div>
 
    <script src="/Public/js/Student/financial_status.js"></script>
</body>
</html>
