<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical History</title>
    <link rel="stylesheet" href="/Public/css/Student/medical_status.css">

</head>
<body>

    <div id="main">

        <div class="container">
            <div class="title">
            <h2>STUDENT PLAYER MEDICAL HISTORY</h2>
            <hr>
            </div>
    
            <div class="medical-history">
                <table id="medical-history-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Medical Condition</th>
                            <th>Medication</th>
                            <th>Notes</th>
                            <th>Reports</th>
                        </tr>
                    </thead>
                    <tbody id="report-table-body"> 
                    </tbody>
                </table>
            </div>

            <div class="medical-form">
                <h3>UPDATE THE CURRENT MEDICAL STATUS</h3>
                <form id="medical-report-form">
                    <label for="date">Date:</label>
                    <input type="date" id="date" required><br>
    
                    <label for="condition">Medical Condition:</label>
                    <input type="text" id="condition" placeholder="Enter Medical Condition" required><br>

                    <label for="medication">Medication:</label>
                    <textarea id="medication" placeholder="Enter the Given Medications" required></textarea><br> <!-- Changed ID -->

                    <label for="notes">Notes:</label>
                    <textarea id="notes" placeholder="Enter Additional Notes" required></textarea><br>
    
                    <label for="report">Upload Medical Report (PDF):</label>
                    <input type="file" id="report" accept=".pdf" required><br>
    
                    <center><button type="submit">Submit</button></center>
                </form>
            </div>
    
            <div id="message"></div>
        </div>
    
    </div>
    
    <script src="/Public/js/Student/medical_status.js"></script>

</body>
</html>
