<IfModule mod_rewrite.c>
    RewriteEngine On
    # Redirect root URL to "Public/"
    RewriteRule ^$ Public/ [L]
    # Redirect everything else to "Public/{whatever}"
    RewriteRule ^(.*)$ Public/$1 [L]
</IfModule>
