/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Background Image for the Entire Page */
body {
    background-image: url('/Public/img/contact/images.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

/* Contact Form */
.contact-form {
    margin: 100px auto 50px;
    width: 80%;
    max-width: 600px;
    background-color: rgba(28, 28, 28, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #ecf0f1;
}

.contact-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #2c3e50;
    color: #ecf0f1;
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
    outline: none;
    background-color: #34495e;
    border: 1px solid #f1c40f;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: yellow;
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #f1c40f;
}

/* Open button */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 500px) {
    .navbar {
        flex-direction: column;
        display: none;
    }

    .navbar.active {
        display: flex;
    }

    .openbtn {
        display: block;
    }

}
