* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    width: 80%;
    background-color: #003366;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    border-radius: 8px;
    margin: 40px;
}

h2 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #00264d; 
    border-bottom: 2px solid #ffa500; 
    display: inline-block;
    padding-bottom: 3px;
    text-align: center;
}

.tabs {
    background-color: #ffffff;
    padding: 25px ;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.tabs p{
    margin-bottom: 10px;
}

button {
    background-color: #ffc107;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.tab-links .active {
    color: #000000;
    border: #000000 1px solid; 
}

button:hover {
    background-color: #444;
}

.topics {
    padding: 40px 0;
    text-align: center;
    background-color: #fffbe0;
}

.topics h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #000000;
}

.topic-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.topic {
    background-color:  #ffffff;
    border: 2px solid #ccc;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.topic img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.topic p {
    font-size: 1em;
    color: #333;
    font-weight: bold;
}

.form-section {
    width: 60%;
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white ;
}

.form-section h2 {
    margin-bottom: 15px;
}

.form-section label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.form-section input[type="text"],input[type="email"],
.form-section textarea , select{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-section textarea {
    resize: vertical;
}

.container {
    width: 100%;
    padding: 40px;
    margin: 20px;
    display: flex;
    justify-content: center;
}