/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #d4d138;
    padding: 20px 0;
    text-align: center;
    background-image: url('/Public/img/help/back.jpeg'); 
    background-size: cover;
    background-position: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px; 
    background-color: #333333 ;
}

.header-container h1,h2{
    color: #ffffff; 
    text-align: center; 
    margin:15px;
}
.search-bar {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-bottom: 30px;
}

.search-bar input {
    height: auto;
    padding: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

.search-bar button {
    width: 30%;
    height: auto;
    padding: 10px;
    background-color: #ffd700;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}


.search-bar button:hover {
    background-color: #FFA500;;
}

/* Tabs Section */
.tabs {
    background-color: #000000;
    padding: 25px ;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.tab-links button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

.tab-links .active {
    background-color: #808080;
}

.tab-links button:hover {
    background-color: #444;
}

/* Topics Section */
.topics {
    padding: 40px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.topics h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #fff;
}

.topic-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.topic {
    background-color:  #ffffff;
    border: 2px solid #ccc;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.topic img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.topic p {
    font-size: 1em;
    color: #333;
    font-weight: bold;
}

.contact-form{
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #333333 ;
}

.helpContactForm{
    background-color: black; 
    margin: 30px;
    padding: 30px;
    border: 3px solid  #FFD700; 
    border-radius: 10px; 
    width: 70%; 
    color: white;
    position: relative;
}

.helpContactForm h2 {
    margin: 30px;
    font-weight: bold;
    font-size: 24px;
    color: gray;
}

.helpContactForm h3 {
    margin: 20px;
    font-size: 20px;
    color: gray;
}

label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

input[type="text"], input[type="email"], textarea ,select {
    width: 90%;
    padding: 5px;
    margin-bottom: 15px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.helpContactForm button {
    width: 30%;
    padding: 8px;
    border: none;
    background-color: #FFD700;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 10px;
    display: flexbox;
}

.helpContactForm button:hover {
    background-color: #FFA500;
}
