/* Basic Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .dashboard-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}

.header {
    text-align: left;
    background-color: #007acc;
    color: white;
    padding: 20px;
  }
  
  .options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
  }
  
  .option-row {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .option-card {
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  .option-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .option-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 18px;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .option-row {
      flex-direction: column;
      align-items: center;
    }
  
    .option-card {
      width: 90%;
    }
  }

  .update-player-performance {
    text-align: center;
    margin: 20px auto;
  }
  
  .search-input {
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #007acc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-button:hover {
    background-color: #005fa3;
  }
  
  