.body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:whitesmoke;
}

.intro{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
    color: white;
    text-align: center;
    background-image: url('/App/view/assests/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
}

.student-profile {
    width: 50%;
    margin:40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: rgba(255, 255, 255, 0.336);
    backdrop-filter: blur(5px); 
}

.profile-pic {
    width: 100px; 
    height: 100px;
    border-radius: 50%; 
    margin-right: 30px;
}

.student-name h2 {
    color: black;
    font-size: 24px;
    text-align: center;
    margin: 10px;
}

.student-name p {
    color: #222;
    text-align:center;
    font-size: 16px;
    margin: 10px;
    font-weight: bold;
}

.profile-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 30px;
    padding: 30px;
    background-color: black;
    padding-bottom: 50px;
}

.profile-section {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color:whitesmoke;
    margin-top: 20px;
}

.profile-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.profile-section p {
    font-size: 14px;
    margin: 5px 0;
}

.profile-section hr {
    border: none;
    border-top: 1px solid black;
    margin: 10px 0;
}

.guardian-details {
    margin-top: 30px;
    margin-bottom: 20px;
}

.profile-edit-btn{
    background-color: #FFD700;
    width: 40%;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    margin: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    display:flexbox;
    text-align: center;
}

.medical-status-btn{
    background-color: #FFD700;
    width: 80%;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    margin: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    display:flexbox;
    text-align: center;
}

.medical-status-btn:hover{
    background-color: #FFB040;
}

.profile-edit-btn:hover{
    background-color: #FFB040;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: #333;
}

/* carousel part */
.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    width: 100%;
    overflow: hidden;
    position: relative; 
    background-image: whitesmoke;
}

.carousel-container h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    
}

.card {
    width: calc(100% / 3 - 10px); 
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    display: grid;
    place-content: center;
}

.prev-btn, .next-btn {
    background-color: #000000; 
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 100%;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 100; 

}

.prev-btn {
    left: 35px;
}

.next-btn {
    right: 20px; 
}

.prev-btn:hover, .next-btn:hover {
    background-color: #080021;
}

.card-wapper {
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 22px;
    margin: 0 0 10px;
    color: #FFB010;
}

.card-text {
    font-size: 16px;
    color: #777;
    margin: 0 0 20px;
}

.card-btn {
    display: inline-block;
    background-color: #FFD700;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.card-btn:hover {
    background-color: #FFB040;
}

