<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="/App/view/css/dashboard.css">
</head>
<body>

    <!-- Main Content -->
    <div id="main">
        <div class="main-content">
            <div class="welcome-strip" id="welcomeStrip">
                <p>Hi there!</p>
            </div>
            
            <div class="intro">
                <div class="profile_pic">
                    <img src="/App/view/assests/profile.jpeg" alt="Profile Picture">
                    <p>Practicing...</p>
                </div>
                <div class="profile-info">
                    <h2>T.H.E.G.Thenuwara</h2>
                    <p>A passionate student with a love for Sports and a thirst for games.</p>
                    <button class="profile-view-more-btn">View More</button>
                </div>
            </div>

            <div class="carousel-container">
                <h2>ACHIEVEMENTS</h2>
                <hr class="carousel-container-hr">
                <button class="prev-btn">←</button>
            <div class="carousel">
        
                    <div class="card">
                        <div class="card-wapper">
                        <img src="/App/view/assests/achievements.png" alt="Card image" class="card-img">
                        <div class="card-content">
                            <h3 class="card-title">Best Athlete</h3>
                            <p class="card-text">Awarded as the best athlete in the school</p>
                            <a href="#" class="card-btn">Learn More</a>
                        </div>
                      </div>
                    </div>
        
                    <div class="card">
                        <div class="card-wapper">
                        <img src="/App/view/assests/achievements.png" alt="Card image" class="card-img">
                        <div class="card-content">
                            <h3 class="card-title">Best Athlete</h3>
                            <p class="card-text">Awarded as the best athlete in the school</p>
                            <a href="#" class="card-btn">Learn More</a>
                        </div>
                      </div>
                    </div>
        
                    <div class="card">
                        <div class="card-wapper">
                        <img src="/App/view/assests/achievements.png" alt="Card image" class="card-img">
                        <div class="card-content">
                            <h3 class="card-title">Best Athlete</h3>
                            <p class="card-text">Awarded as the best athlete in the school</p>
                            <a href="#" class="card-btn">Learn More</a>
                        </div>
                      </div>
                    </div>
        
                    <div class="card">
                        <div class="card-wapper">
                        <img src="/App/view/assests/achievements.png" alt="Card image" class="card-img">
                        <div class="card-content">
                            <h3 class="card-title">Best Athlete</h3>
                            <p class="card-text">Awarded as the best athlete in the school</p>
                            <a href="#" class="card-btn">Learn More</a>
                        </div>
                      </div>
                    </div>
        
                    <div class="card">
                        <div class="card-wapper">
                        <img src="/App/view/assests/achievements.png" alt="Card image" class="card-img">
                        <div class="card-content">
                            <h3 class="card-title">Best Athlete</h3>
                            <p class="card-text">Awarded as the best athlete in the school</p>
                            <a href="#" class="card-btn">Learn More</a>
                        </div>
                      </div>
                    </div>
        
        
                    <div class="card">
                        <div class="card-wapper">
                        <img src="/App/view/assests/achievements.png" alt="Card image" class="card-img">
                        <div class="card-content">
                            <h3 class="card-title">Best Athlete</h3>
                            <p class="card-text">Awarded as the best athlete in the school</p>
                            <a href="#" class="card-btn">Learn More</a>
                        </div>
                      </div>
                    </div>
        
                </div>
                <button class="next-btn">→</button>
                <button class="view-all-achievements-btn">View All Achievements</button>
            </div>
            

            <div class="calendar-container">
                <h2>SCHEDULE</h2>
                <hr class="calendar-container-hr">
                    <div class="calendar">
                        <div class="calendar-header">
                            <button>&lt;</button>
                            <span>August 2024</span>
                            <button>&gt;</button>
                        </div>
                        <div class="calendar-grid">
                            <div class="day">Sun</div>
                            <div class="day">Mon</div>
                            <div class="day">Tue</div>
                            <div class="day">Wed</div>
                            <div class="day">Thu</div>
                            <div class="day">Fri</div>
                            <div class="day">Sat</div>
                            <!-- Days of the month -->
                            <div class="date">1</div>
                            <div class="date">2</div>
                            <div class="date">3</div>
                            <div class="date">4</div>
                            <div class="date">5</div>
                            <div class="date">6</div>
                            <div class="date">7</div>
                            <!-- More dates... -->
                        </div>
                    </div>
            </div>

        </div>
    </div>

    <script src="/App/view/js/calender.js"></script>
    <script src="/App/view/js/carousel.js"></script>
    
</body>
</html>
