<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/App/view/css/dashboard.css">
    <link rel="stylesheet" href="/App/view/css/edit_studentProfile.css">
</head>
<body>
    <div class="main-content">

        <div class="intro">
            <div class="profile_pic">
                <img src="/App/view/assests/profile.jpeg" alt="Profile Picture">
                <p>Practicing...</p>
            </div>
            <div class="profile-info">
                <h2>T.H.E.G.Thenuwara</h2>
                <p>A passionate student with a love for Sports and a thirst for games.</p>
            </div>
        </div>

        <div class="profile-content">
            <h2 class="profile-header">Edit Profile</h2>

        <form class="editProfileForm">

            <div class="edit-profile-content">
                <h2 class="form-content">PERSONAL INFORMATION</h2>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" value="T.H.E.G. Thenuwara" required>
                </div>
                <div class="form-group">
                    <label for="birthday">Birthday:</label>
                    <input type="date" id="birthday" name="birthday" value="2000-01-01" required>
                </div>
                <div class="form-group">
                    <label for="gender">Gender:</label>
                    <select id="gender" name="gender" required>
                        <option value="Female" selected>Female</option>
                        <option value="Male">Male</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="phone">WhatsApp Number:</label>
                    <input type="text" id="phone" name="phone" value="0712345678" required>
                </div>
                <div class="form-group">
                    <label for="name">School:</label>
                    <input type="text" id="name" name="name" value="University of Colombo School of Computing" required>
                </div>
                <div class="form-group">
                    <label for="name">Grade:</label>
                    <input type="text" id="name" name="name" value="10" required>
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address" value="123 Main St, Colombo, Sri Lanka" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="thenuwara@gmail.com" required>
                </div>
            </div>

            <div class="edit-profile-content">
                <h2 class="form-content">GUARDIAN INFORMATION</h2>
                <div class="form-group">
                    <label for="GuardianName">Guardian Name:</label>
                    <input type="text" id="GuardianName" name="GuardianName" value="T.H.C.Silva" required>
                </div>
                <div class="form-group">
                    <label for="GuardianRelation">Guardian Relation:</label>
                    <input type="text" id="GuardianRelation" name="GuardianRelation" value="Father" required>
                </div>
                <div class="form-group">
                    <label for="GuardianPhone">Guardian Contact Number:</label>
                    <input type="text" id="GuardianPhone" name="GuardianPhone" value="0712345678" required>
                </div>
                <div class="form-group">
                    <label for="GuardianEmail">Guardian Email:</label>
                    <input type="email" id="GuardianEmail" name="GuardianEmail" value="thenuwara@gmail.com" required>
                </div>
                <div class="form-group">
                    <label for="GuardianAddress">Guardian Address:</label>
                    <input type="text" id="GuardianAddress" name="GuardianAddress" value="123 Main St, Colombo, Sri Lanka" required>
                </div>
            </div>
        
            <div class="edit-profile-content">
                <h2 class="form-content">CURRENT MEDICAL STATUS </h2>
                <div class="form-group">
                    <label for="BloodType">Blood Type:</label>
                    <select id="BloodType" name="BloodType" required>
                        <option value="A+" selected>A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Allergies">Allergies:</label>
                    <input type="text" id="Allergies" name="Allergies" value="None" required>
                </div>
                <div class="form-group">
                    <label for= "MedicalConditions">Medical Conditions:</label>
                    <input type="text" id="MedicalConditions" name="MedicalConditions" value="None" required>
                </div>
                <div class="form-group">
                    <label for="Medication">Medication:</label>
                    <input type="text" id="Medication" name="Medication" value="None" required>
                </div>
                <div class="form-group">
                    <label for="EmergencyContact">Emergency Contact:</label>
                    <input type="text" id="EmergencyContact" name="EmergencyContact" value="0712345678" required>
                </div>
            </div>

            <div class="edit-profile-content">
                <h2 class="form-content">FINANCIAL STATUS </h2>
                <div class="form-group">
                    <label for="FinancialAid">Financial Aid Staus:</label>
                    <select id="FinancialAid" name="FinancialAid" required>
                        <option value="Yes" selected>Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="RegistrationNumber">Registration Number:</label>
                    <input type="text" id="RegistrationNumber" name="RegistrationNumber" value="24/M/90" required>
                </div>
                <div class="form-group">
                    <label for= "RegistrationDate">Registration Date:</label>
                    <input type="date" id="RegistrationDate" name="RegistrationDate" value="2024-01-01" required>
                </div>
            </div>

        </form>

        <button type="submit" class="profile-edit-btn">Save Changes</button>

        </div>
    </div>

    <script src="/App/view/js/edit_studentprofile.js"></script>
</body>
</html>
