<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Status</title>
    <link rel="stylesheet" href="/App/view/css/dashboard.css">
    <link rel="stylesheet" href="/App/view/css/profile.css">
</head>
<body>

        <div class="main-content">
            <div class="intro">
                <div class="profile_pic">
                    <img src="/App/view/assests/profile.jpeg" alt="Profile Picture">
                    <div>
                        <select id="status">
                          <option value="rest">Rest</option>
                          <option value="practicing">Practicing</option>
                          <option value="meet">In a Meet</option>
                          <option value="injury">Injury</option>
                          <option value="studying">Studying</option>
                        </select>
                      </div>
                </div>
                <div class="profile-info">
                    <h2>T.H.E.G.Thenuwara</h2>
                    <p>A passionate student with a love for Sports and a thirst for games.</p>
                </div>
            </div>
            
            <div class="financial-status">
                <h2>Financial Status</h2>

                <div class="financial-status-content">
                    <p>Financial Status: Yes</p>
                    <p>Registration Number: 24/M/90</p>
                    <p>Registration Date: 2024-01-01</p>
                </div>
            </div>

            </div>

            <script src="/App/view/js/profile.js"></script>
</body>
</html>