<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="/App/view/css/dashboard.css">
    <link rel="stylesheet" href="/App/view/css/profile.css">
</head>
<body>

    <!-- Main Content -->
    <div id="main">
        <div class="main-content">
            <div class="intro">
                <div class="profile_pic">
                    <img src="/App/view/assests/profile.jpeg" alt="Profile Picture">
                    <p>Practicing...</p>
                </div>
                <div class="profile-info">
                    <h2>T.H.E.G.Thenuwara</h2>
                    <p>A passionate student with a love for Sports and a thirst for games.</p>
                    <button class="profile-edit-btn">Edit Profile</button>
                </div>
            </div>
            
            <div class="profile-content">
                <div class="personal-info">
                    <h2>Personal Information</h2>
                    <hr>
                    <div class="personal-info-content">
                        <p><strong>Name:</strong> T.H.E.G.Thenuwara</p>
                        <p><strong>Birthday:</strong> 2000-01-01</p>
                        <p><strong>Gender:</strong> Female</p>
                        <p><strong>Phone:</strong> (123) 456-7890</p>
                        <p><strong>School:</strong> University of Colombo School of Computing</p>
                        <p><strong>Grade:</strong> 10</p>
                    </div>
                </div>

                <div class="personal-info">
                    <h2>Personal Information</h2>
                    <hr>
                    <div class="personal-info-content">
                        <p><strong>Name:</strong> T.H.E.G.Thenuwara</p>
                        <p><strong>Email:</strong> student@example.com</p>
                        <p><strong>Phone:</strong> (123) 456-7890</p>
                        <p><strong>Major:</strong> Computer Science</p>
                        <p><strong>Year:</strong> Sophomore</p>
                    </div>
                </div>

                <div class="personal-info">
                    <h2>Personal Information</h2>
                    <hr>
                    <div class="personal-info-content">
                        <p><strong>Email:</strong> student@example.com</p>
                        <p><strong>Phone:</strong> (123) 456-7890</p>
                        <p><strong>Major:</strong> Computer Science</p>
                        <p><strong>Year:</strong> Sophomore</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</body>
</html>