<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="/App/view/css/dashboard.css">
    <link rel="stylesheet" href="/App/view/css/profile.css">
</head>
<body>

        <div class="main-content">
            <div class="intro">
                <div class="profile_pic">
                    <img src="/App/view/assests/profile.jpeg" alt="Profile Picture">
                    <div>
                        <select id="status">
                          <option value="rest">Rest</option>
                          <option value="practicing">Practicing</option>
                          <option value="meet">In a Meet</option>
                          <option value="injury">Injury</option>
                          <option value="studying">Studying</option>
                        </select>
                      </div>
                </div>
                <div class="profile-info">
                    <h2>T.H.E.G.Thenuwara</h2>
                    <p>A passionate student with a love for Sports and a thirst for games.</p>
                    <button class="profile-edit-btn" onclick="window.location.href='/App/view/html/edit_studentProfile.html'">Edit Profile</button>
                </div>
            </div>
            
            <div class="profile-content">

                <div class="student-profile-info">
                    <h2>PERSONAL INFORMATION</h2>
                    <hr class="profile-hr">
                    <div class="student-profile-info-content">
                        <p><strong>Name : </strong>T.H.E.G. Thenuwara</p>
                        <p><strong>Birthday : </strong> January 1, 2000</p>
                        <p><strong>Gender: </strong> Female</p>
                        <p><strong>WhatsApp Number :</strong> 0712345678</p>
                        <p><strong>School :</strong> University of Colombo School of Computing</p>
                        <p><strong>Grade :</strong> 10</p>
                        <p><strong>Address :</strong> 123 Main St, Colombo, Sri Lanka</p>
                        <p><strong>Email:</strong> thenuwara@gmail.com</p>
                    </div>
                </div>

                <div class="student-profile-info">
                    <h2>GUARDIAN INFORMATION</h2>
                    <hr class="profile-hr">
                    <div class="student-profile-info-content">
                        <p><strong> Guardian Name : </strong>T.H.C.Silva</p>
                        <p><strong> Guardian Relation : </strong>Father</p>
                        <p><strong> Guardian Contact Number : </strong> 0712345678</p>
                        <p><strong> Guardian Email : </strong> silva@gmail.com</p>
                        <p><strong> Guardian Address : </strong> 123 Main St, Colombo, Sri Lanka</p>
                    </div>
                </div>

                <div class="student-profile-info">
                    <h2>CURRENT MEDICAL STATUS</h2>
                    <hr class="profile-hr">
                    <div class="student-profile-info-content">
                        <p><strong> Blood Type : </strong>A+</p>
                        <p><strong> Allergies : </strong>None</p>
                        <p><strong> Medical Conditions : </strong>None</p>
                        <p><strong> Medication : </strong>None</p>
                        <p><strong> Emergency Contact : </strong> 0712345678</p>
                        <button class="medical-history-btn" onclick="window.location.href='/App/view/html/medicalStatus.html'">View Medical History</button>
                    </div>
                </div>

                <div class="student-profile-info">
                    <h2>FINANCIAL STATUS</h2>
                    <hr class="profile-hr">
                    <div class="student-profile-info-content">
                        <p><strong> Financial Aid Status : </strong>Recieve Funds</p>
                        <p><strong> Registration Number : </strong>24/M/90</p>
                        <p><strong> Registration Date : </strong>2024-01-01</p>
                        <button class="medical-history-btn"onclick="window.location.href='/App/view/html/financialStatus.html'">View Financial Reports</button>
                    </div>
                </div>

            </div>

            </div>

            <script src="/App/view/js/profile.js"></script>
</body>
</html>