<!DOCTYPE html>
<html lang="en">
<head>
    <meta charsete="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>
        Coach Dashboard
    </title>
    <link rel="stylesheet" href="C:/Users/Lenovo/Desktop/2nd year project/TrackMaster/Public/assets/css/dashboard.css">
    <link rel="stylesheet" href="../../public/assets/css/style.css">
</head>

<body>
    <div id="nav">
        <header>
            <div id="logo">
                <img src="../../public/assets/icon/logo.png" alt="trackmaster logo">
            </div>

            <div id="nav-links">
                <span id="navicon"><img src="../../public/assets/icon/use.png" alt="how to use"></span>
                <span id="navicon"><img src="../../public/assets/icon/acc.png" alt="account icon"></span>

            </div>
        </header>
    </div>
    
    <div class="container">
        <div class="profile">
            <img src="../../Public/assets/images dashboard/profile.jpg" alt="Coach Profile" class="profile-image">
                <div class="profile-details">
                    <h1>HEWAKAMKANAMAGE KASUN METHNUKA</h1>
                    <p>Sport:<br><span class="highlight"> Cricket</p></span>
                    <p>Age:<br> <span class="highlight">45 years old</span></p>
                    <p>Contact No:<br> <span class="highlight">071-1234567</span></p>
                    <p>Coach Status:<br> <span class="highlight">Zonal</span></p>
                </div>
        </div>
        <div class="options">
            <div class="profile_management">
                <img src="../../Public/assets/images dashboard/profile_management.png" alt="Coach Profile" class="profile_management-image">
                <div class="profile_management-details">
                    <p>Profile  Management</p>
                </div> 
            </div>
            <div class="performance_tracking">
                <img src="../../Public/assets/images dashboard/performance_tracking.png" alt="performance_tracking" class="performance_tracking-image">
                <div class="performance_tracking-details">
                    <p>Performance Tracking</p>
                </div> 
            </div>
            <div class="profile_sharing">
                <img src="../../Public/assets/images dashboard/profile_sharing.png" alt="profile_sharing" class="profile_sharing-image">
                <div class="profile_sharing-details">
                    <p>Profile Sharing</p>
                </div>
            </div>
            <div class="team_management">
                <img src="../../Public/assets/images dashboard/team_management.png" alt="Coach Profile" class="team_management-image">
                <div class="team_management-details">
                    <p>Team Management</p>
                </div>
            </div>
            <div class="event_sheduling">
                <img src="../../Public/assets/images dashboard/event_sheduling.png" alt="event_sheduling" class="event_sheduling-image">
                <div class="event_sheduling-details">
                    <p>Event Sheduling</p>
                </div>
            </div>
            <div class="player_requests">
                <img src="../../Public/assets/images dashboard/player_requests.png" alt="player_requests" class="player_requests-image">
                <div class="player_requests-details">
                    <p>Player Requests</p>
                </div>
            </div>
        </div>
</body>
</html>